page-home {
    p {
        font-size: 0.8em;
        color: #d2d2d2;
    }
    ion-label, .select-text {
        margin-left: 10px;
    }

     ion-select {
        background-color: #f2f2f2;
        padding: 5px 10px;
    }

}
